[Desktop Entry]
Name=Turboprint
Comment=Printers menager Turboprint
Comment[pl]=Menad?er drukarek Turboprintl
Exec=turboprint
Terminal=0
Type=Application
# vi: encoding=utf-8
