[Desktop Entry]
Encoding=UTF-8
Name=Turboprint
Comment=Printers menager Turboprint
Comment[pl]=Menad?er drukarek Turboprintl
Exec=turboprint
Terminal=false
Type=Application
# vi: encoding=utf-8
